* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #F7F7F7;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
}

.heading {
    background-color: #2E2E2E;
    background-size: cover;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    font: 26px 'Lora';
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo_color {
    color: #2E2E2E;
}

.icons {
    display: flex;
}

.content__heading {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.heading__name {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 30px;
}

.heading__description {
    opacity: 63%;
    color: #2E2E2E;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

.button {
    border-radius: 3px;
    color: #FFF;
    background: #DD783F;
    border: none;
    height: 44px;
    padding: 12px 31px;
    font: 13px 'Oxygen';
}

.main {
    background-color: #FFF;
    margin-top: 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.main__header {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 40px;
}

.main-box {
    background: white;
    font-family: 'Lora';
    padding-bottom: 30px;
}

.main-box__name {
    color: #7A7A7A;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
}

.main-box__input {
    width: 100%;
    padding: 15px 20px;
    margin-top: 4px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.main-box__input {
    font-family: 'Oxygen';
    font-size: 16px;
    color: #2E2E2E;
}

.main-box__input_form {

    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0px 0px;
}

.upload-photos {
    margin-bottom: 20px;
}

.upload-photos>input {
    display: none;
}

.images_author-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 16px;
    color: #2E2E2E;
}

.preiew {
    color: #7A7A7A;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.first__border {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px 0px;
    isolation: isolate;
    width: 440px;
    height: 385px;
    border: 1px solid #D3D3D3;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 30px 30px 0px 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-top: 10px;
}

.first__border__card {
    display: block;
}

.second__border {
    box-sizing: border-box;
    width: 408px;
    height: 353px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 8px;
}

.third__border__top {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 23px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-content: row;
}

.third__border__content {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.image__button {
    position: relative;
    top: 8px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 3px;
    background: #D9D9D9;
}

.third__border__content__image {
    margin-top: 20px;
    position: relative;
    width: 100%;
    background: #F7F7F7;
    height: 160px;
}

.border-shades__top {
    position: absolute;
    width: 120px;
    height: 100%;
    right: 0px;
    top: -10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
}

.border-shades__bottom {
    position: absolute;
    height: 72px;
    width: 100%;
    left: -15px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.post {
    background: #FCFCFC;
    width: 296px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #EAEAEA;
}

.post__img {
    background: #F7F7F7;
    height: 150px;
}

.post__heading-text {
    background-color: #FFF;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
}

.post__heading {
    font: 19px 'Lora';
    color: #101315;
    margin-bottom: 10px;
}

.post__text {
    font: 15px 'Oxygen';
    line-height: 24px;
    color: #7A7A7A;
    margin-right: 40px;
    word-wrap: break-word;
}

.post__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.post__line {
    height: 1px;
    background: #EFEFEF;
}

.post__author-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post__author {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 13px;
    border-radius: 60px;
    background-color: #F7F7F7;
}

.post__span {
    font: 13px 'Oxygen';
    color: #999999;
}

.description__lenght {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}