* {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden
}

.body__image {
    background: url(/static/images/admin.jpg) no-repeat; background-size: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font: 'Lora';
}
