* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    background: url(/static/images/admin.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Lora';
    height: 100vh;
}

.slogan {
    font-family: "Oxygen";
    font-size: 17px;
}

.registration-box {
    height: 70vh;
    width: 30vw;
    background: white;
    font-family: 'Lora';
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

textarea:focus, input:focus{
    outline: none;
    background-color: #F7F7F7;
}


input {
    width: 95%;
    padding: 12px 0px 15px 10px;
    margin: 8px 0px;
    margin-bottom: 50px;
    border: 0px;
    border-bottom: solid #EAEAEA 1px;
    font-size: 16px;
}


input[type=submit] {
    width: 25%;
    background-color: #DD783F;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.title {
    font: 400 34px 'Lora';
    margin-bottom: 10px;
}

.form-style {
    color: #7A7A7A;
    font: 400 12px 'Oxygen';
}

