* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    background: url(/static/images/admin.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Lora';
    height: 100vh;
}

.registration-box {
    height: 80vh;
    width: 30vw;
    background: white;
    font-family: 'Lora';
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}