* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    background: url(/static/images/admin.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Lora', serif;
    height: 100vh;
}

.title {
    font: 400 45px 'Lora';
    margin-bottom: 10px;
}

.title_small {
    font: 400 25px 'Lora';
}


.slogan {
    font-family: "Oxygen", serif;
    font-size: 17px;
}

.registration-box {
    height: 70vh;
    width: 30vw;
    background: white;
    font-family: 'Lora', serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

input:focus{
    outline: none;
}

input {
    width: 95%;
    padding: 12px 0 15px 10px;
    margin: 8px 0 10px;
    border: 0;
    border-bottom: solid #EAEAEA 1px;
    font-size: 16px;
}


input[type=submit] {
    width: 25%;
    background-color: #DD783F;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-style {
    color: #7A7A7A;
    font: 400 12px 'Oxygen';
}

.warning-button {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 8px;
    height: 40px;
    font-family: 'Oxygen', serif;
    font-size: 14px;
    border-radius: 5px;
}

.warning-button_wrong {
    background-color: #FFEBEA;
    border-left: 2px solid #E86961;
    opacity: 0;
    height: 0;
    transition: height 0.3s, opacity 0.3s;
}

.warning-button_active {
    opacity: 1;
    height: 40px;
    margin-bottom: 20px;
}

.main-box__input-warning {
    margin-bottom: 40px;
    visibility: hidden;
    font: 400 12px 'Oxygen';
    color: #E86961;
}

.email__visible {

}

